:root {
  --blue: #4d5ae5;
  --main-text: #2e2f42;
  --grey: #434455;
  --white: #ffffff;
  --footer-descr: #f4f4fd;
  --white-grey: #e7e9fc;
  --wrapper: #f4f4fd;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
.header {
  position: fixed;
  border-bottom: 1px solid var(--white-grey);
  width: 100%;
  background-color: var(--white);
  z-index: 100;
}

.header-container {
  display: flex;
  align-items: center;
}

.address-container {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--blue);
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  margin-right: 76px;
}

.logo-studio {
  color: var(--main-text);
}

.element-title {
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 24px;
}

.element-title:hover,
.element-title:focus {
  color: var(--blue);
  transition-property: color;
  transition-duration: 200ms;
}

.studio-element-title {
  display: inline-block;
  position: relative;
  color: var(--blue);
}

.studio-element-title::after {
  display: inline-block;
  content: "";
  width: 48px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.adress-element {
  color: var(--grey);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 200ms;
}

.adress-element:hover,
.adress-element:focus {
  color: var(--blue);
}

.adress-mail {
  margin-right: 40px;
}

/* 1 section */

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-text);
}

.main-title {
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.button {
  color: var(--white);
  background-color: var(--blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  text-align: center;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 500ms linear;
  border: none;
}

.button:hover,
.button.focus {
  background-color: transparent;
  scale: 1.05;
}

/* 2 section */

.menu-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.menu-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.menu-list-item {
  width: calc((100% - 72px) / 4);
}

.services-title {
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.services-descr {
  color: var(--grey);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.menu-svg-wrapper {
  width: 264px;
  height: 112px;
  background-color: var(--wrapper);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-svg {
  width: 64px;
  height: 64px;
}

/* 3 section */

.deals-section {
  padding-bottom: 120px;
}

.deals-title {
  margin-bottom: 72px;
}

.deals-menu {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.deals-card {
  width: calc((100% - 48px) / 3);
}

/* 4 section */

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--footer-descr);
}

.team-menu {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-title {
  margin-bottom: 72px;
}

.team-card {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: var(--white);
}

.section-title {
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.master-name {
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.master-descr {
  color: var(--grey);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-svg-icons {
  width: 20px;
  height: 20px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-social-list-item {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 500ms;
}

.team-social-list-item:hover,
.team-social-list-item:focus {
  background-color: var(--main-text);
}

/* Footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-text);
}

.logo-footer-span {
  color: var(--white);
}

.footer-descr {
  color: var(--footer-descr);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-top: 16px;
  max-width: 264px;
}

.footer-container {
  display: flex;
}

.footer-logo-wrapper {
  margin-right: 120px;
}

.footer-media-wrapper {
  margin-right: 80px;
}

.footer-social-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-email-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--white);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
}

.tg-svg {
  width: 24px;
  height: 20px;
  margin-left: 16px;
  fill: var(--white);
}

.footer-form{
  display: flex;
  gap: 24px;
}

.footer-subscribe-btn {
  width: 165px;
  height: 40px;
  cursor: pointer;
  background-color: var(--blue);
  border-radius: 4px;
  border: 1px solid orchid;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms linear;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus{
  background-color: cyan;
  color: blueviolet;
  border: 1px solid var(--wrapper);
}

/* CUSTOMERS */

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-svg-icon {
  width: 104px;
  height: 56px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 72px;
}

.customers-list-item {
  width: 168px;
  height: 88px;
}

.customers-svg-link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.customers-svg-link:hover,
.customers-svg-link:focus {
  border: 2px solid purple;
  box-shadow: 10px 10px 5px 0 pink;
  transition-property: box-shadow;
  transition-duration: 1000ms;
  transform: scale(1.05);
}

/* Portfolio */

.portfolio-element-title {
  display: inline-block;
  position: relative;
  color: var(--blue);
}

.portfolio-element-title::after {
  display: inline-block;
  content: "";
  width: 66px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn-list {
  display: flex;
  margin-bottom: 72px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio-btn {
  color: var(--blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  border: 1px solid var(--white-grey);
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 1000ms;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 10px 10px 10px pink;
  transition-property: box-shadow;
  transition-duration: 1000ms;
  transform: scale(1.025);
}

.portfolio-card-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 10px;
  border: 1px solid var(--white-grey);
}

.card-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--main-text);
  margin-bottom: 8px;
}

.card-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.overlay {
  width: 100%;
  background-color: rgba(161, 60, 163, 0.5);
  color: aquamarine;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  padding: 40px 20px;
  transform: translate(0, 100%);
  transition: transform 500ms linear;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-card:hover .overlay {
  transform: translate(0, 0);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: rgba(161, 60, 163, 0.5);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 408px;
  height: 584px;
  position: fixed;
  background-color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7%;
}

.modal-close-svg {
  width: 8px;
  height: 8px;
  fill: violet;
}

.modal-close-svg:hover,
.modal-close-svg:focus {
  fill: aqua;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  border-color: pink;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: pink;
}

/* MODAL INPUTS */

.form-title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: var(--font-family);
  color: var(--main-text);
  margin-bottom: 13px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.modal-label {
  margin-bottom: 8px;
}

.modal-inpt-form {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--main-text);
  padding-left: 38px;
}

.modal-input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  font-family: var(--font-family);
  color: var(--grey);
  display: flex;
  margin-bottom: 4px;
}

.modal-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.modal-submit-btn {
  margin: 0 auto;
  width: 169px;
  height: 40px;
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 500ms linear;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  border: transparent;
  background-color: pink;
  color: purple;
  box-shadow: 0 4px 4px 0 plum;
}

.privacy-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  font-family: var(--font-family);
  color: var(--grey);
  margin-left: 8px;
}

.privacy_police_link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--blue);
}

.checkbox_label {
  display: flex;
  margin-bottom: 24px;
}

.input-svg {
  width: 18px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
}

.modal-input-wrapper {
  display: block;
  position: relative;
}
