:root {
  --blue: #4d5ae5;
  --main-text: #2e2f42;
  --grey: #434455;
  --white: #ffffff;
  --footer-descr: #f4f4fd;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


/* HEADER */
.header{
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  align-items: center;
}

.header-menu-list{
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list{
  display: flex;
  align-items: center;
}

.logo {
  color: var(--blue);
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo{
  margin-right: 76px;
}

.logo-studio {
  color: var(--main-text);
}

.element-title {
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.element-title:hover,
.element-title:focus {
  color: var(--blue);
}

.adress-element {
  color: var(--grey);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
  cursor: pointer;
}

.adress-element:hover,
.adress-element:focus {
  color: var(--blue);
}

.adress-mail{
  margin-right: 40px;
}

/* 1 section */

.main-title {
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
}

.button {
  color: var(--white);
  background-color: var(--blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* 2 section */

.services-title {
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.services-descr {
  color: var(--grey);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* 4 section */

.section-title {
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.master-name {
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
}

.master-descr {
  color: var(--grey);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Footer */

.footer-descr {
  color: var(--footer-descr);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Portfolio */

.portfolio-btn {
  color: var(--blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.card-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.card-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--grey);
}
