:root {
  --blue: #4d5ae5;
  --main-text: #2e2f42;
  --grey: #434455;
  --white: #ffffff;
  --footer-descr: #f4f4fd;
}

/* HEADER */
.logo {
  color: var(--blue);
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--main-text);
}

.element-title {
  color: var(--main-text);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.adress-element {
  color: var(--grey);
}

/* 1 section */

.main-title {
  color: var(--white);
}

.button {
  color: var(--white);
  background-color: var(--blue);
}

/* 2 section */

.section-title {
  color: var(--main-text);
}

.services-descr {
  color: var(--grey);
}

/* 4 section */

.master-name {
  color: var(--main-text);
}

.master-descr {
  color: var(--grey);
}

/* Footer */

.footer-descr {
  color: var(--footer-descr);
}
